<div class="container-fluid">
    <!---------- HEADER ---------->
    <header class="row">
        <div class="col-xs-3 col-sm-4"></div>
        <div class="col-xs-6 col-sm-4">
            <h1>IronTrack</h1>
        </div>
        <div class="col-xs-3 col-sm-4"></div>
    </header>

    <!---------- NAV ---------->


    <div class="row control maincont">

        <nav class="col-sm-3 col-md-2">
            <div class="img-perfil">
                <img src="img/perfil.jpg">
            </div>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Tracking
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Estadísticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Salir</a>
                </li>
            </ul>
            <div class="lechuga-bar">
                <div>
                    <span>Módulo 1</span><div class="trofeo"></div>
                    <div class="progress">
                        <div id="progressBar1" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100" style="width: 0%"> 0% </div>
                    </div>
                </div>
                <div>
                    <span>Módulo 2</span><div class="trofeo"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" style="width: 50%"> 50% </div>
                    </div>
                </div>
                <div>
                    <span>Módulo 3</span><div class="trofeo"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%"> 100% </div>
                    </div>
                </div>
            </div>
        </nav>

        <!---------- MAIN ---------->
        <main class="col-sm-9 col-md-10 ">
            <div class="tuStat">
                <h4 style="display:inline;">Tu puntuación es <h3 style="display:inline;"> #</h3></h4>
            </div>
            <div class="statsContainer">
                <div class="statsSecond stadisticas">
                    <p>BLA BLA BLA BLA</p>
                    <img src="/img/PLATA.png" alt="imágen Plata">
                </div>

                <div class="statsFirst stadisticas">
                    <p>BLA BLA BLA BLA</p>
                    <img src="/img/oro.png" alt="imágen Oro">
                </div>
                <div class="statsThird stadisticas">
                    <p>BLA BLA BLA BLA</p>
                    <img src="/img/BRONCE.png" alt="imágen Bronce">
                </div>
            </div>

        </main>
    </div>

    <!-- AYUDA -->
    <div class='wrap'>
        <div class='content'>
            <h2>Hello Ironhacker!</h2>
            <p>Este es un proyecto desarrollado para el módulo 2 del Part Time Web Developer de Ironhack</p>
            <p>Puedes encontrar cosas que funcionan bien, otras que funcionan mal, otras que sabemos que funcionan mal y no
                tenemos tiempo de arreglar, y otras que funcionan peor y nos gustan más así</p>
            <p>No seas malo con las críticas o cobraremos licencias</p>

        </div>
    </div>
    <a class='button glyphicon glyphicon-plus' href='#'></a>


</div>