<!---------- MAIN ---------->
<main class="col-sm-9 col-md-10 ">
    <div class="tuStat">
        <h4 style="display:inline;">Tu puntuación es <h3 style="display:inline;"> <%= points %></h3></h4>
    </div>
    <div class="statsContainer">
        <div class="statsSecond stadisticas">
            <p>BLA BLA BLA BLA</p>
            <img src="/img/PLATA.png" alt="imágen Plata">
        </div>

        <div class="statsFirst stadisticas">
            <p>BLA BLA BLA BLA</p>
            <img src="/img/oro.png" alt="imágen Oro">
        </div>
        <div class="statsThird stadisticas">
            <p>BLA BLA BLA BLA</p>
            <img src="/img/BRONCE.png" alt="imágen Bronce">
        </div>
    </div>

</main>

<!-- AYUDA -->
<!--
   <div class='wrap'>
       <div class='content'>
           <h2>Hello Ironhacker!</h2>
           <p>Este es un proyecto desarrollado para el módulo 2 del Part Time Web Developer de Ironhack</p>
           <p>Puedes encontrar cosas que funcionan bien, otras que funcionan mal, otras que sabemos que funcionan mal y no
               tenemos tiempo de arreglar, y otras que funcionan peor y nos gustan más así</p>
           <p>No seas malo con las críticas o cobraremos licencias</p>

       </div>
   </div>
   <a class='button glyphicon glyphicon-plus' href='#'></a>
</div>
-->
