html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

header {
    background-color: #4e555b;
    color: white;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 50px;
}

#submitMessage {
    width: 10%;
    height: 40px;
    margin-bottom: 0px;
    float: right;
}

.tableAlign {
    vertical-align: middle !important;
}

.tableAlign button {
    margin-bottom: 0px;
}

.tableCenter {
    text-align: center;
}

.trashCan {
    color: darkred;
}

div.form-signin h2 {
    text-align: center;
}

.textareaMessage {
    width: 100%;
}

.goBtn {
    font-size: 24px !important;
    max-width: 30%;
    margin: auto;
    margin-top: 15px;
}

.form-group {
    margin: 0px;
}

#form-l {
    margin-top: 20%;
    position: absolute;
    z-index: 1;
    margin-left: 32%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.75);
}

#form-i {
    min-width: 100%;
}

.carousel-inner {
    height: 100vh;
}

.container-fluid {
    padding: 0;
    overflow-y: auto;
    height: 100vh;
}

header.row {
    position: absolute;
    z-index: 2;
    margin: auto;
    min-width: 100%;
}

.control {
    margin: 8% 1%;
}

/* #carouselExampleControls {
    padding-top: 5%;
} */

.img-perfil {
    margin-bottom: 10%;
}

.img-perfil img {
    max-width: 100%;
    box-shadow: 0 0 50px -6px rgba(67, 67, 73, 0.3);
}

.btn {
    font-size: .8rem;
    padding: .60rem 1rem;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: black;
}

.createBtn button {
    min-width: 200px;
    /* margin-left: 309%; */
}

.lechuga-bar {
    position: fixed;
    min-width: 150px;
    bottom: 35px;
}

.add-ex {
    position: absolute;
    right: 1.5%;
}

.wrap {
    position: absolute;
    overflow: hidden;
    top: 20%;
    right: 10%;
    /* bottom: 85px; */
    left: 10%;
    padding: 20px 50px;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
}

.wrap .content {
    opacity: 0;
}

.wrap:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrap.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
}

.wrap.active:before {
    height: 2000px;
    width: 2000px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrap.active .content {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

a.button.glyphicon.glyphicon-plus {
    padding: 11px 11px 13px 13px;
    outline: none;
    border-radius: 50%;
    background: #007fed;
    color: #fff;
    font-size: 24px;
    display: block;
    position: absolute;
    left: 98%;
    bottom: 92%;
    top: auto;
    margin-left: -25px;
    transition: transform 0.25s;
    z-index: 4;
}

.stadisticas {
    display: inline-block;
    max-width: 30%;
    margin: 0px 5%;
}

.stadisticas img {
    max-width: 100%;
}

.stadisticas p {
    text-align: center;
}

.statsContainer {
    margin: auto;
    width: 90%;
    display: flex;
}

.statsSecond {
    margin-top: 11%
}

.statsFirst {
    margin-top: 2%
}

.statsThird {
    margin-top: 15%
}

a.button.glyphicon.glyphicon-plus:hover {
    text-decoration: none;
    background: #2198ff;
}

a.button.active {
    transform: rotate(135deg);
    transition: transform 0.5s;
}

@media (max-width: 768px) {
    .add-ex {
        position: relative;
    }
    .lechuga-bar {
        position: relative;
        margin-top: 15%;
    }
}